%form{ :action => "/gravity", :method => "post", role: 'form', class: 'form-signin'}
  .form-signin-heading.text-center
    %img.logo(src="http://imgur.com/Db99eNN") 
    %h2 Sign in
  %input{:type => "email", :name => "email", placeholder: "Email address", class: "form-control", id: "email_field"}
  %input{:type => "password", :name => "password", placeholder: 'Password', class: "form-control", id: "password_field"}
  %input{:type => "submit", :value => "Submit", :class => "btn btn-lg btn-primary btn-block"}