.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => '#'} File Weights
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => '/gravity'} Main
        %li
          %a{:href => 'https://github.com/duboff/file-weights-test'} Code
        %li
          %a{:href => 'http://cv.dubov.net/'} About me
        %li 
          %a{href: '/'} Sign out