.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => '#'} File Weights
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => '#'} Main
        %li
          %a{:href => '#about'} Github
        %li
          %a{:href => '#contact'} Contact